# Core app
streamlit==1.40.1
streamlit-javascript==0.1.5

# Financial data and processing
yfinance==0.2.65
pandas==2.2.3
numpy==2.1.2
requests==2.32.3
free-proxy==1.1.2

# Visualization
plotly==5.24.1
